.sociallink {
    align-items: center;
    max-width: 550px;
    height: auto;
}        
body{
    text-align: left;
    align-items: center;
    font-size: x-large;
}
img{
    border-radius: 20%;
    max-width: 350px;
    height: auto;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
 p{
   margin: 10px 60px;

 }     