.freshman {
  background-color: #a5d6a7 !important; /* Green */
}

.sophomore {
  background-color: #fff176 !important; /* Yellow */
}

.junior {
  background-color: #64b5f6 !important; /* Blue */
}

.senior {
  background-color: #ef9a9a !important; /* Red */
}
